.sticky {
  position: sticky;
  top: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #252525fa;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

.intro {
  border-color: #9bb2f1;
  background-color: #8ea9f3;
  border-style: solid;
  border-width: 0x;
  border-radius: 500px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 400px;
  user-select: none;
  cursor: default;
}

.navbar {
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  list-style: none;
  margin: 5px;
  padding: 0 20px 0 0;
  display: flex;
  gap: 12px;
  align-items: center;
  text-align: center;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 14px 40px;
  display: block;
  text-align: center;
  align-items: center;
}
