.sticky {
  position: sticky;
  top: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #252525fa;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

.intro {
  border-color: #583055;
  background-color: #502c4d;
  border-style: solid;
  border-radius: 500px;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 400px;
  user-select: none;
  cursor: default;
}

.navbar {
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.visible {
  opacity: 1;
  transform: translateY();
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.nav-links {
  list-style: none;
  margin: 5px;
  padding: 0 20px 0 0;
  display: flex;
  gap: 12px;
  align-items: center;
  text-align: center;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 6px 16px;
  display: block;
  text-align: center;
  align-items: center;
  transition: ease-out 0.3s;
}
.nav-links li a:hover {
  background-color: #502c4d;
  border-radius: 1px;

  transition: ease 0.3s;
}
